@getinsight.it:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/61385044/packages/npm/:_authToken=glpat-PsB3qn0b7iR0wYGqBQQ94G86MQp1OjhsZnA2Cw.01.120vyxzry
//gitlab.com/api/v4/projects/:_authToken=glpat-PsB3qn0b7iR0wYGqBQQ94G86MQp1OjhsZnA2Cw.01.120vyxzry
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-PsB3qn0b7iR0wYGqBQQ94G86MQp1OjhsZnA2Cw.01.120vyxzry

always-auth=true
strict-ssl = false