@getinsight.it:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/61385044/packages/npm/:_authToken=${GITLAB_TOKEN}
//gitlab.com/api/v4/projects/:_authToken=${GITLAB_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}

always-auth=true
strict-ssl = false