always-auth=true
@getinsight.it:registry=https://gitlab.com/api/v4/groups/11578756/-/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/projects/:_authToken=${CI_JOB_TOKEN}