.app-textarea {
  width: 100%;
  min-height: var(--textarea-min-height);
  border: 1px solid var(--textarea-border-color);
  border-radius: var(--textarea-radius);
  padding-block: var(--textarea-padding-block);
  padding-inline: var(--textarea-padding-inline);
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--textarea-text-color);
  font-family: var(--font-family);
  font-size: var(--textarea-font-size);
  font-weight: var(--textarea-font-weight);

  &::placeholder {
    color: var(--textarea-placeholder-color);
  }
}
